{% extends 'base.html' %}
{% block content %}

    <style>
        table {
           border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>

    {%  if error_msg %}
        <div>
            <b>{{ error_msg }}</b>
        </div>
    {%  endif %}
    <table>
        <tr><th>Title</th><th>Year</th><th>Rating</th></tr>
        {% for stock in stocks %}

        <tr>
            <td>
                {{ stock['title'] }}
            </td>
            <td>
                {{ stock['year'] }}
            </td>
            <td>
                {{ stock['rating'] }}
            </td>

        </tr>

        {% endfor %}

    </table>

{% endblock %}