{% extends 'base.html' %}
{% block content %}

    <style>
        table {
           border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>

    {%  if error_msg %}
        <div>
            <b>{{ error_msg }}</b>
        </div>
    {%  endif %}

    <h3>Stock Comparison</h3>

    <div id="stock_plot" style="width: 600px;height: 200px"></div>
    <div id="legend" style="width: 200px;height: 200px"></div>

    <script src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.js"></script>

    <script>
    $(function() {
        options = {
            xaxis: {
                mode: "time",
                timeformat: "%Y-%m-%d"
            },
            legend: {
                show: true,
                container: '#legend'
            }
        };

        pe_ratios = {{ pe_ratios }};
        symbols = {{ symbols|tojson }};

        for (i = 0; i < pe_ratios.length; i++) {
            for (j = 0; j < pe_ratios[i].length; j++) {
                pe_ratios[i][j][0] *= 1000;
            }
        }

        pe_data = [];
        for (i = 0; i < pe_ratios.length; i++) {
            pe_data.push({label: symbols[i], data: pe_ratios[i]});
        }

        $.plot("#stock_plot", pe_data, options);
    });
    </script>

{% endblock %}