<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECE1771 - Assignment 2</title>
</head>
<body>

    <h1>{{ page_header }}</h1>

    <a href="{{ url_for('index') }}">Home</a>
    {% if session['username'] != Null %}
        {{ session['username'] }} is logged in
        <a href="{{url_for('logout')}}">Logout</a>
    {% else %}
        <a href="{{url_for('login')}}">login</a>
        <a href="{{url_for('register')}}">register</a>
    {% endif %}
    <hr>

    {% block content %}
    {% endblock %}
</body>
</html>