{% extends 'base.html' %}
{% block content %}
    {% if session['username'] == Null %}
        Please Log in.

            <ul>
            <li><a href="{{ url_for('create_users_table')}}">Create Users Table</a></li>
        </ul>
    {% else %}
        <ul>
            <li>
                <form method="get" action="{{ url_for('stock_quote_get') }}">
                    Get stock quote:
                    <br>
                    Symbol <input type="text" name="symbol" />
                    <input type="submit" value="Get Quote"/>
                </form>
            </li>
        </ul>
    {% endif %}
{% endblock %}